<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Список тикетов</title>
    <style>
        .status-not_started { background-color: #e0e0e0; } /* Серый */
        .status-in_progress { background-color: #f0ad4e; } /* Желтый */
        .status-closed { background-color: #5bde62; } /* Зеленый */
        .status-cannot_resolve { background-color: #d9534f; } /* Красный */
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Все тикеты</h1>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">Номер тикета</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Описание проблемы</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr class="status-{{ ticket.status }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ ticket.user }}</td>
                        <td>{{ ticket.issue }}</td>
                        <td>
                            {% if ticket.status == 'not_started' %}Не взят в работу
                            {% elif ticket.status == 'in_progress' %}В работе
                            {% elif ticket.status == 'closed' %}Закрыт
                            {% elif ticket.status == 'cannot_resolve' %}Нерешаемая задача
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for('view_ticket', ticket_id=loop.index0) }}" class="btn btn-info">Просмотреть</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Назад</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
